* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  background-repeat: no-repeat;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-evenly;
  margin: 25px auto;
  align-items: center;
}
header button {
  border: none;
  padding: 6px 14px;
  background: rgb(202, 71, 10);
  color: #ffff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  font-family: sans-serif;
  font-weight: 600;
}
header button:hover {
  background: rgb(255, 81, 0);
}
header p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.fristSection div {
  text-align: center;
}
.fristSection div #munValue {
  margin: 10px 0;
  display: inline-block;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
}
.fristSection div #value {
  padding-top: 16px;
  display: none;
}
.secendSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 39px auto;
}
.secendSection .divOne {
  margin-left: 5px;
}
.secendSection .divOne button {
  display: block;
  margin: 8px auto;
  padding: 7px 14px;
  border: none;
  font-weight: 600;
  border-radius: 3px;
  background-color: rgb(62, 207, 18);
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s;
}
.secendSection .divOne button:hover {
  background-color: rgb(60, 255, 0);
}
.secendSection .divOne input {
  border: none;
  padding: 14px 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}
.secendSection .divOne input:focus {
  outline: none;
}
.divTow {
  margin-right: 5px;
}
#result {
  margin: 7px auto;
  display: none;
}
